

.input {
    position: relative;
    bottom: 1px;
    vertical-align: middle;
}

.label {
    display: block;
    /* align-items: center; */
}


.select {
    margin-left: 5px;
}

.checkbox {
    margin-left: 10px;      

        
}

.hero-body {
    text-align: center;
    height: 50px;
    margin-bottom: 45px;
    font-family: "Righteous";
    
}

.button {
    margin-top: 20px;
    margin-left: 10px;
}

.selector {
    font-weight: bold;
    font-size: large;
}

.checkbox {
    margin-top: 10px;
    }


.ingredient {
    margin-left: 10px;
}

.restriction {
    margin-left: 10px;
}

.tile {
    position: absolute;
    float: right;
    top:  20%;
    left: 50%;
    
}    

.title {
    opacity: 100%;
}

.api-text{
    width: 500px;
    font-family: "Righteous"
}

/* .container {
    position: absolute;
    background-color: white;
    /* justify-content: center; */
/* }

.backgroundImage {
    justify-content: center;
    
} */
 
